* {
  box-sizing: border-box;
  margin: 0;
}

/* #grid__container {
} */

#grid__container > #col__div {
  display: flex;
  flex-wrap: wrap;
}
#grid__container > #col__div > #row__div {
  height: 20px;
  width: 20px;
  border: 1px solid black;
}
