* {
  box-sizing: border-box;
  margin: 0;
}

#grid__container {
  margin: 20px;
  height: 400px;
  max-width: 400px;
  box-shadow: 1px 1px 5px 5px #888888;
}

#grid__container > .col__div {
  display: flex;
}
